<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.libarary.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowReader</servlet-name>
    <servlet-class>com.libarary.servlet.ShowReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReader</servlet-name>
    <url-pattern>/servlet/ShowReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterReader</servlet-name>
    <servlet-class>com.libarary.servlet.RegisterReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterReader</servlet-name>
    <url-pattern>/servlet/RegisterReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateReader</servlet-name>
    <servlet-class>com.libarary.servlet.UpdateReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReader</servlet-name>
    <url-pattern>/servlet/UpdateReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>com.libarary.servlet.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/servlet/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryBook</servlet-name>
    <servlet-class>com.libarary.servlet.QueryBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBook</servlet-name>
    <url-pattern>/servlet/QueryBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BorrowReaderInfo</servlet-name>
    <servlet-class>com.libarary.servlet.BorrowReaderInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowReaderInfo</servlet-name>
    <url-pattern>/servlet/BorrowReaderInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReturnBook</servlet-name>
    <servlet-class>com.libarary.servlet.ReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBook</servlet-name>
    <url-pattern>/servlet/ReturnBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LendBook</servlet-name>
    <servlet-class>com.libarary.servlet.LendBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LendBook</servlet-name>
    <url-pattern>/servlet/LendBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelServlet</servlet-name>
    <servlet-class>com.libarary.servlet.CancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelServlet</servlet-name>
    <url-pattern>/servlet/CancelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReaderTypeManager</servlet-name>
    <servlet-class>com.libarary.servlet.ReaderTypeManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderTypeManager</servlet-name>
    <url-pattern>/servlet/ReaderTypeManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryReader</servlet-name>
    <servlet-class>com.libarary.servlet.QueryReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryReader</servlet-name>
    <url-pattern>/servlet/QueryReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveBook</servlet-name>
    <servlet-class>com.libarary.servlet.RemoveBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBook</servlet-name>
    <url-pattern>/servlet/RemoveBook</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>BookUpdate</servlet-name>
    <servlet-class>com.libarary.servlet.BookUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpdate</servlet-name>
    <url-pattern>/servlet/BookUpdate</url-pattern>
  </servlet-mapping>
</web-app>